<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="NuGet.Manifest.Schema" version="2.0.4" targetFramework="net45" xmlns="" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />s
</packages>