<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections> 
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /> 
  </configSections>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <sessionState mode="InProc" timeout="20"/>

  </system.web>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>
    <!-- Below goes route view configuration -->
    <add key="PointLineWeight" value="8"/>
    <add key="PointMarkerOpacity" value="0.2"/>
    <add key="PointColor" value="blue"/>
    <add key="StepMarkerScale" value="3"/>
    <add key="StepMarkerOpacity" value="0.3"/>
    <add key="StartMarkerColor" value="blue"/>

    <!-- Below goes route calculation configuration settings-->

    <!-- for EAN hotel search this value cannot be less than 2000 meters -->
    <!--meters-->
    <add key="ProximityRadius" value="2000"/>

    <!--miliseconds-->
    <add key="FetchDataTimeout" value="5000"/>
 
  </appSettings>


</configuration>

