<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="RouteAPISoap" maxBufferSize="5000000" maxBufferPoolSize="5000000" maxReceivedMessageSize="5000000"  />
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56766/RouteAPI.asmx" binding="basicHttpBinding"
                bindingConfiguration="RouteAPISoap" contract="HotelRouteAPI.RouteAPISoap"
                name="RouteAPISoap" />
        </client>
    </system.serviceModel>
</configuration>